
<table align="center" class='table is-striped is-hoverable'>
    <thead>
        <tr>
            <th>ID. Factura</th>
            <th >Num Factura</th>
            <th>Nombre Cliente</th>
            <th>Fecha emision</th>

        </tr>
    </thead>
    <tbody>
{%for factura in facturas%}
    <tr>

        <td>
            {% if forloop.first %}
            <a href= "{% url 'detalle_factura' factura_id=factura.pk %}" role = "button" class="button is-primary">
            <b>{{factura.pk|upper|add:""}}</b>
            </a>
            {% else %}
            <a href= "{% url 'detalle_factura' factura_id=factura.pk %}" role = "button" class="button is-primary">
                {{factura.pk}}
            </a>
            {% endif %}
            
        </td>
        <td>{{factura.num}}</td>

        <td>{{factura.cliente_nombre}}</td>
        <td>{{factura.fecha_emision}}</td>
        
    </tr>
    
    
    <!--<tr><th colspan="5"></th><th colspan="">Producto</th><th>Precio</th><th>Unidades</th></tr>    -->


{%endfor%}
</tbody>
</table>